html {
    height: 100%;
    background: rgb(2, 0, 36); 
    background: -webkit-linear-gradient(220deg, rgba(2, 0, 36, 1) 0%, rgba(6, 10, 51, 1) 10%, rgb(3 8 20) 60%, rgba(6, 10, 51, 1) 90%);
    background: -moz-linear-gradient(220deg, rgba(2, 0, 36, 1) 0%, rgba(6, 10, 51, 1) 10%, rgb(3 8 20) 60%, rgba(6, 10, 51, 1) 90%); 
    background: -o-linear-gradient(220deg, rgba(2, 0, 36, 1) 0%, rgba(6, 10, 51, 1) 10%, rgb(3 8 20) 60%, rgba(6, 10, 51, 1) 90%);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    color: #ffffff;
    overflow-x: hidden;
}
img {
        width: 100%;
        height: 100%;
}
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
  
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family:'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family:'Poppins';
    src: url('fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
  }
  
  @font-face {
    font-family:'Poppins';
    src: url('fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
  }
  
 
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 100%;
    min-height: 100vh;

}
img {
  width: 100%;
  height: 100%;
}
p, h1, h2, h3, h4 {
    margin: 5px;
}
.mbtop{
    margin-top: 20px;
}
.subti2{
    font-size: 16px;
        font-weight: 300;
}
section {
    padding: 50px 0px;
}
.container2{
    width: 85%;
    margin: 0 auto;
    box-sizing: content-box;
}
.container {
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    box-sizing: content-box;
}

.texcenter {
    text-align: center;
}
li, ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
 


.swiper {
 width: 100%;
    height: 100%;
    /*box-shadow: -5px -5px 0px #ffffff; */
}
.swiper-pagination-bullet {
    background: #ffff!important;
    width: 12px!important;
    height: 12px!important;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/*--*/
/*MARCAS CARRUSEL INICIO*/
/* Contenedor general */
.mySwiperMarcas {
  width: 100%;
  padding: 20px 0;
}

/* Cada slide (marca) */
.mySwiperMarcas .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen de marca */
.mySwiperMarcas .swiper-slide img {
  max-width: 120px;  /* tamaño máximo de logo */
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);     /* en blanco y negro */
  transition: filter 0.3s, transform 0.3s;
}

/* Hover con color y zoom */
.mySwiperMarcas .swiper-slide img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}
/*MARCAS CARRUSEL FIN*/

.swiperbrd {
    animation: shadowAnimation 5s infinite;
    width: 100%;
    height: 100%;
    border-radius: 20px; 
}



.contf{
    position: relative;
   /* width: 300px;
    height: 150px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   /* background: 
    url('img/soporte-pcaburrido.png');*/
background-size: auto 100%;
background-position: center;
background-repeat: no-repeat;
}

.ctrisfnd{
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background-image: url(img/soporte-pcaburrido.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1; }


.ctnpersf{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(2, 0, 36); 
    background: -webkit-linear-gradient(250deg, rgba(2,0,36,1) 0%, rgb(9, 15, 83) 0%, rgb(6, 34, 112) 46%, rgba(6,10,51,1) 100%); /* Chrome, Safari (WebKit) */
    background: -moz-linear-gradient(250deg, rgba(2,0,36,1) 0%, rgba(6,10,51,1) 0%, rgba(7,30,92,1) 46%, rgba(6,10,51,1) 100%); /* Firefox */
    background: -o-linear-gradient(250deg, rgba(2,0,36,1) 0%, rgba(6,10,51,1) 0%, rgba(7,30,92,1) 46%, rgba(6,10,51,1) 100%); /* Opera */
    filter: brightness(1);   
    opacity: 0.5;            
    z-index: 0;             
    border-radius: 8px;  }

.contf .ctnd{
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 40px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;}

.ticont{
        font-size: 40px;
        font-weight: 500;
        width: 50%;
        text-align: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
}
.ticonttitu{
    font-size: 33px;
    font-weight: 700;
}
        
.servicls {
        overflow: hidden; 
        white-space: nowrap; 
        position: relative;
      }
      
.servitxt {
        display: inline-block; 
        animation: scroll 50s linear infinite; 
        opacity: 0;
        animation-delay: 0s; 
        font-size: 30px;
      }
      a.contactarbt {
        border: 1px solid #ffffff;
        width: max-content;
        padding: 10px 70px;
        font-size: 20px;
        border-radius: 20px;
        margin-top: 10px;
}



@keyframes scroll {
        0% {
          transform: translateX(0); /* Inicio del ciclo */
          opacity: 1; /* Inicio con opacidad cero */
        }
      
        100% {
          transform: translateX(-100%); 
          opacity: 1; 
        }

      }

.flex1 {
        display: flex;
        justify-content: center;
        align-items: center;
}
.mbtop.iconpago.flex1 img {
        width: 265px;
}

.bnnrsp img {
        width: 100%;
        max-width: 410px;
        min-width: 230px;
        border-radius: 20px;
}

.bnnrsp {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;
}
.liproducts {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
   /*justify-content: space-evenly;*/
}

.itempro {
    max-width: 300px;
    background: #fff;
    border-radius: 20px;
}
.imgpro img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.imgpro {
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    max-width: 300px;
    height: 275px;
    display: block;
  
}


.contpro h3 {
    margin: 0px;
}
.prepro{
    font-weight: 700;
}
span.dscins {
    font-size: 14px;
}
.contpro {
    padding: 10px;
    color: #000;
    text-align: left;
    display: flex;
        flex-direction: column;
}

.itemcomt {
    background: #131c49;
    border-radius: 20px;
    /*max-width: 600px;*/
    text-align: left;
    padding: 15px;
}

.rscrs {
    width: 100%;
}

.btonfootermo{
    display: none;
}

a {
    text-decoration: none;
    color: #fff;
}
.movil{
    display: none;
}


/*boton de whatsapp escritorio inicio*/
/* Botón oculto al inicio */
/* Entrada inicial con opacidad */
/* Entrada inicial con opacidad */
@keyframes bounceIn {
  0%   { transform: scale(0.3); opacity: 0; }
  50%  { transform: scale(1.1); opacity: 1; }
  70%  { transform: scale(0.9); }
  100% { transform: scale(1); opacity: 1; }
}

/* Rebote sutil (sin opacidad) */
@keyframes miniBounce {
  0%   { transform: scale(0.3); opacity: 0; }
  50%  { transform: scale(1.1); opacity: 1; }
  70%  { transform: scale(0.9); }
  100% { transform: scale(1); opacity: 1; }
}

#whatsapp-btn {
  display: none;
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;

}

/* Primera animación al aparecer */
#whatsapp-btn.show-bounce {
  display: block;
  opacity: 1;               /* 👈 fijamos que se quede visible */
  animation: bounceIn 0.8s ease;
  z-index: 2;
}

/* Rebote repetitivo */
#whatsapp-btn.rebounce {
  animation: miniBounce 0.6s ease;
}
/*bton de whatsapp escritorio fin*/



.whatsappescritorio {
    position: sticky;
    bottom: 18px;
    display: flex;
    justify-content: flex-end;

    z-index: 1;
}

.whatsappescritorio a {
    text-decoration: none;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
}

a.itemff.chat-whatsapp.appescrito {
      background: #10b60d;
    background: linear-gradient(135deg, #062e03 0%, #0f9a0c 70%, #12ad07 100%);
    padding: 0px 15px;
    border-radius: 20px;
}
.lgdwha {
    padding: 10px;
    width: 45px;
    height: 45px;
}
.lgdwha img {
    width: 100%;
    height: 100%;
}
@media (min-width: 600px) {
.boxanimabton {
  animation: loopY 3s infinite ease-in-out;
}


@keyframes loopY {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(00); }
}
}

.boxanimabton{
    --border-width: 2px;


    position: relative;
    display: flex;
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(0, 84%, 59%),
        hsl(313, 71%, 52%),
        hsl(0, 0%, 100%),
        hsl(359, 85%, 66%),
        hsl(59, 100%, 50%),
        hsl(89, 85%, 66%),
        hsl(134, 97%, 46%),
        hsl(246, 93%, 47%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: 20px;
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  

.boxanima {
    --border-width: 3px;


    position: relative;
    display: flex;
  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: 20px;
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }
  
  .lista-distritos img {
    border-radius: 10px!important;
  }

  .subtcont{
    font-size: 12px;
  }


.dos-col {
  display: grid;
  grid-template-columns:50% 50%; 
  align-items: center;
}

.dos-col img{
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.ctz-es, .ctz-sm{
  border-radius: 10px;
}
.ctz-sm{
  display: none;
}
@media (max-width: 600px) {
  .flex1 {
        display:block;
}
  .ctz-es{
    display: none;
  }
  .ctz-sm{
    display: block;
  }
  section {
    padding: 35px 0px;
}

  .dos-col {
    display: grid;
    grid-template-columns:100%; 
    align-items: center;
  }
  
    .itermitente {
        font-size: 10px;
      }


    .boxanimabton {
        display: block;
}



    .whatsappescritorio{
        display: none;
    }
    a.contactarbt {
        padding: 8px 30px;
        margin-bottom: 20px;
}

    .servitxt {
        font-size: 18px;
      }

    .swiper-pagination{
        display: none;
    }

.movil{
    display: block;
}
.escritorio{
    display: none;
}
.container2{
    width: 98%;
}
.container2 h1 {
    padding: 0 20px;
    font-size: 20px;
}
.contf .ctnd {
          /*  padding: 20px;*/
            flex-direction: column;
}
.ticont {
    font-size: 20px;
    width: 100%;
    justify-content: flex-start;
  }

.ticonttitu {font-size: 24px;}
.ctrisfnd {
        width: 35%;
        right: 18px;
    }
.bnnrsp {
        flex-wrap: wrap;}

.liproducts {
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    }
 .bnnrsp img {
        max-width: 340px;

}
.imgpro {
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    max-height: 185px;
    box-sizing: border-box;
}
.imgpro img {
    box-sizing: border-box;}
.btonfootermo {
    display: block;
    /* background: #061549; */
    position: sticky;
    bottom: 7px;
    z-index: 9;
    /* margin-left: -8px; */
    /* margin-right: -8px;*/
}
.dsbton {
    display: flex;
    justify-content: space-around;
    background: #061549;
    border-radius: 20px;
    overflow-y: hidden;
}
.dsbton img {
    width: 30px;
    height: 30px;
}

.itemff {
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    padding: 13px 5px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.itemff:hover {
    background: #025bff;
}
.nta-alerta{
    font-size: 12px;
}



/*deslizar*/
.slider-wrapper { height: 60px!important; }
.refimg {height:60px!important;}
  }

  .subtcont {
    display: flex;
    align-items: center;
  }
.itermitente {
    font-size: 1.5em;
    margin-right: 8px;
    animation: parpadeo 1s infinite;
    font-size: 12px;
  }
  
  @keyframes parpadeo {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .subtcontm3 {
    display: flex;
    font-size: 11px;
    font-weight: 100;
  }

  .lista-distritos ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .lista-distritos ul li {
    list-style: none;
    border:1px solid #fff;
    border-radius: 30px;
    padding: 5px 15px;
  }


  .bnnrsp.mbtop img {
    border: 3px solid #232b87;
}

.contactar { text-align: left; margin-top: 50px; }
.modal { z-index: 9; display: none; 
  position: fixed; top: 0; left: 0; 
  width: 100%; height: 100%; 
  background: #000;justify-content: center; align-items: center; }
.modal-content 
{ background:rgb(6 21 73); padding: 20px; border-radius: 8px; width: 300px; background-image: url(img/soporte-tecnico-de-computadoras-a-domicilio.jpg); 
background-size: cover;}
.step { display: none; }
.step.active { display: block; }
/*.back-btn { position: relative; top: 10px; left: 10px; cursor: pointer; }*/
.back-btn {
  position: relative;
  margin: 10px 0px;
  cursor: pointer;
  display: block;
}
.step ul li {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  /*border: 1px solid #007BFF;*/
  border: 1px solid #006732;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.step ul li span {
  font-size: 12px;
}
.step ul li:hover { background: #006732; }
.iniciar {
  cursor: pointer;
}
.descrip {
  font-size: 14px;
  text-align: center;
  margin-top:16px;
}
.descrip a {
        font-size: 15px;
        font-weight: 500;
        background: green;
        padding: 1px 8px;
        border-radius: 10px;
}



/*deslizar*/
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  height: 120px; 
  position: relative;
}

.refimg {
  height:120px;
  display: flex;
  gap: 10px;
  position:relative;
  top: 0;
  left: 0;
  will-change: transform;
}

.refimg img {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 8px;
  opacity: 0.6;
}
.refimg img:hover {
   opacity: 1;
}


/*Mensaje de agendo un cliente*/


#toast {
        position: fixed;
        bottom: 95px;
        right: -363px;
        min-width: 265px;
        background-color: #ffffff;
        color: #000000;
        padding: 10px 12px;
        border-radius: 10px;
        font-family: sans-serif;
        font-size: 15px;
        z-index: 9999;
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease, right 0.5s ease;
}

    #toast.show {
      right: 30px;
      opacity: 1;
    }

    /*Estilos sección empresas*/
    .cont-asesor{
            top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(2, 0, 36);
        background: -webkit-linear-gradient(250deg, rgba(2, 0, 36, 1) 0%, rgb(9, 15, 83) 0%, rgb(6, 34, 112) 46%, rgba(6, 10, 51, 1) 100%);
        background: -moz-linear-gradient(250deg, rgba(2,0,36,1) 0%, rgba(6,10,51,1) 0%, rgba(7,30,92,1) 46%, rgba(6,10,51,1) 100%);
        background: -o-linear-gradient(250deg, rgba(2,0,36,1) 0%, rgba(6,10,51,1) 0%, rgba(7,30,92,1) 46%, rgba(6,10,51,1) 100%);
        filter: brightness(1);
        border-radius: 8px;
}


.cont-asesor{
  margin: 0 auto;
  padding: 16px;
  display: grid;
  grid-template-columns: 20% 55% 25%;
  gap: 16px;
}

.col-ase{
  border-radius: 12px;
  display: flex;
  flex-direction: column;
        align-content: center;
        justify-content: center;
  
}

@media (max-width: 768px){
  .container{
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }
  .col-ase{
    width: 100%;
    margin-inline: auto;  
    text-align: center;   
  }
  .col-ase.con-img img {
        width: 70%;
}
.col-ase.con-img {
        margin-top: -50px!important;
        display: block;
}
.col-ase.contact {
        display: block!important;
}
}

.col-ase.con-img {
        margin-top: -84px;
}

           .col-ase.contact {
            text-align: center;
        }

        #rucInput {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 230px;
        font-size: 16px;
        max-width: 100%;
        }
        #rucInput:focus, #rucInput:focus-visible {
  box-shadow: 0 0 0 2px #303ef3  !important;
  outline: none !important;
}

        .contactarases {
            display: inline-block;
        width: 230px;
        margin-top: 10px;
        padding: 8px 10px;
        background-color: #007bff07;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        border: 1px solid;
        }
        .contactarases.disabled {
    pointer-events: none;
       cursor: not-allowed;
    opacity: 0.5;
}

.ticont ul li {
        font-size: 24px;
}

a#iniciar2 {
        background: #004b00;
}

/*
barra de atención inicio
*/

.availability-widget {
  max-width: 700px;
  margin: 40px auto 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.label {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #ffffff;
}

.progress-bar {
  background: #0d1946;
  border-radius: 30px;
 /* overflow: hidden;*/
  height: 24px;
  position: relative;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.progress {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  transition: width 1s ease;
  background: linear-gradient(90deg, #e53935, #f9a825, #2ecc71);
       padding: 0px 14px;
}

.progress span {
  position: relative;
  z-index: 2;
  font-size: 0.9rem;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.message {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #eef4fd;
}
/* ✨ Efecto de pulso cuando está al 100% */
.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 8px rgba(46, 204, 113, 0.6); }
  50% { box-shadow: 0 0 16px rgba(46, 204, 113, 1); }
  100% { box-shadow: 0 0 8px rgba(46, 204, 113, 0.6); }
}

/*
barra de atención fin
*/